<div class="register-box">
    <div class="register-box-body">
        <p class="login-box-msg">Criar uma nova conta</p>
        <form>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" ng-model="user.username" placeholder="Nome de Usuário">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" ng-model="user.email" placeholder="E-mail">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" ng-model="user.password" placeholder="Senha">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" ng-model="user.confirmPassword" placeholder="Confirme a senha">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" ng-model="user.allowTerms"> Eu aceito os <a href="#">termos</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" ng-click="register()" class="btn btn-primary btn-block btn-flat">Registrar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
            <p>- OU -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Utilizar minha conta do Facebook</a>
        </div>

        <a href="/auth/login" class="text-center">Eu já tenho um cadastro</a>
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->