<!DOCTYPE html>
<html ng-app="seugarcom">

<head>
    <% include dashboard.header.html %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <% include dashboard.bar.html %>
            <% include dashboard.menu.html %>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><%= title %> <small><%= subtitle %></small></h1>

                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li class="active">Dashboard</li>
                        </ol>
                    </section>

                    <!-- Main content -->
                    <section class="content">
                        <%- include(view) %>
                    </section>
                    <!-- /.content -->
                </div>

                <!-- /.content-wrapper -->
                <footer class="main-footer">
                    <div class="pull-right hidden-xs">
                        <b>Version</b> 0.0.1
                    </div>
                    <strong>Copyright &copy; 2016 <a href="#">RAH</a>.</strong> Todos os direitos reservados.
                </footer>

                <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
                <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <% include dashboard.footer.html %>

</body>

</html>