<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Módulos</h3>
                <a href="./modules/new" class="col-xs-2 btn btn-success btn-xs pull-right"><i class="fa fa-plus"></i> Novo</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped" id="table">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome</th>
                        </tr>
                        <% data.modules.forEach(function(user) { %>

                            <tr data-id="<%= user.id %>">

                                <td>
                                    <%= user.id %>
                                </td>
                                <td>
                                    <%= user.name %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

